.header {
  background: var(--primary-white);
  border-radius: calc(var(--border-radius) * 3);
  height: 3rem;
  left: 50%;
  max-width: calc(var(--app-max-width) - 16px);
  top: 8px;
  transform: translateX(-50%);
  width: calc(100% - 16px);
}
