.vibe-meter {

  &-list {
    -ms-overflow-style: none;
    gap: .5rem;
    scrollbar-width: none;
  }

  &-stat {
    border-radius: calc(var(--border-radius) * 1.5);

    &.less {
      background: var(--bg-error);
      color: var(--text-error);
    }

    &.more {
      background: var(--bg-light-green-1);
      color: var(--text-success);
    }
  }

  &-list-item {
    border-radius: calc(var(--border-radius) / 2);
    border: 1px solid var(--border);
    min-width: 161px;

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        opacity: 0;
        transform: translateX(4rem);
        animation: slideToPositionX .75s forwards;
        animation-delay: #{0.1 * $i}s;
      }
    }

    p {
      color: var(--text-light);
    }

    &.satisfied {
      background: var(--bg-light-green-1);
      border-color: transparent;

      .vibe-meter-stat {
        background: var(--primary-white);
        color: var(--text-success);
      }
    }

    &.unsatisfied {
      background: var(--bg-error);
      border-color: transparent;

      .vibe-meter-stat {
        background: var(--primary-white);
        color: var(--text-error);
      }
    }
  }
}
